[[extend 'layout.html']]

<div class="section">
<style>
h1 {
  text-align: center;
  font-size:100px
}

h2 {
  text-align: center;
}

h3 {
  text-align: right;
}
.text-center {
  text-align: center;
}
datalist {
  position: absolute;
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 0.8rem;
}

option {
  background-color: #bbb;
  padding: 4px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 35px
}
</style>
  <h1>Course Source</h1>

<body>
<div class = "text-center">
<label for="myBrowser"></label>
<input list="browsers" id="name" name="myBrowser" onfocus="this.value=''" onchange="this.blur();" style = "height: 50px; width: 200px;" />
<datalist id="browsers">
    <option value =  "CSE3" >
    <option value =  "CSE5J" >
    <option value =  "CSE12" >
    <option value =  "CSE13E" >
    <option value =  "CSE13S" >
    <option value =  "CSE15" >
    <option value =  "CSE16" >
    <option value =  "CSE20" >
    <option value =  "CSE30" >
    <option value =  "CSE40" >
    <option value =  "CSE50" >
    <option value =  "CSE58" >
    <option value =  "CSE80A" >
    <option value =  "CSE80C" >
    <option value =  "CSE80N" >
    <option value =  "CSE80S" >
    <option value =  "CSE100" >
    <option value =  "CSE101" >
    <option value =  "CSE102" >
    <option value =  "CSE103" >
    <option value =  "CSE104" >
    <option value =  "CSE106" >
    <option value =  "CSE107" >
    <option value =  "CSE108" >
    <option value =  "CSE110A" >
    <option value =  "CSE110B" >
    <option value =  "CSE111" >
    <option value =  "CSE112" >
    <option value =  "CSE113" >
    <option value =  "CSE115A" >
    <option value =  "CSE115B" >
    <option value =  "CSE115C" >
    <option value =  "CSE115D" >
    <option value =  "CSE117" >
    <option value =  "CSE118" >
    <option value =  "CSE119" >
    <option value =  "CSE120" >
    <option value =  "CSE121" >
    <option value =  "CSE122" >
    <option value =  "CSE123A" >
    <option value =  "CSE123B" >
    <option value =  "CSE125" >
    <option value =  "CSE129A" >
    <option value =  "CSE129B" >
    <option value =  "CSE129C" >
    <option value =  "CSE130" >
    <option value =  "CSE132" >
    <option value =  "CSE134" >
    <option value =  "CSE138" >
    <option value =  "CSE140" >
    <option value =  "CSE142" >
    <option value =  "CSE143" >
    <option value =  "CSE144" >
    <option value =  "CSE145" >
    <option value =  "CSE146" >
    <option value =  "CSE150" >
    <option value =  "CSE151" >
    <option value =  "CSE152" >
    <option value =  "CSE156" >
    <option value =  "CSE157" >
    <option value =  "CSE160" >
    <option value =  "CSE161" >
    <option value =  "CSE162" >
    <option value =  "CSE163" >
    <option value =  "CSE165" >
    <option value =  "CSE166A" >
    <option value =  "CSE166B" >
    <option value =  "CSE167" >
    <option value =  "CSE168" >
    <option value =  "CSE170" >
    <option value =  "CSE171A" >
    <option value =  "CSE173" >
    <option value =  "CSE174" >
    <option value =  "CSE175" >
    <option value =  "CSE180" >
    <option value =  "CSE181" >
    <option value =  "CSE182" >
    <option value =  "CSE183" >
    <option value =  "CSE184" >
    <option value =  "CSE185E" >
    <option value =  "CSE185S" >
    <option value =  "CSE191" >
    <option value =  "CSE200" >
    <option value =  "CSE201" >
    <option value =  "CSE202" >
    <option value =  "CSE204" >
    <option value =  "CSE205" >
    <option value =  "CSE207" >
    <option value =  "CSE208" >
    <option value =  "CSE209" >
    <option value =  "CSE210A" >
    <option value =  "CSE210B" >
    <option value =  "CSE211" >
    <option value =  "CSE212A" >
    <option value =  "CSE212B" >
    <option value =  "CSE214" >
    <option value =  "CSE215" >
    <option value =  "CSE216" >
    <option value =  "CSE220" >
    <option value =  "CSE221" >
    <option value =  "CSE222A" >
    <option value =  "CSE222B" >
    <option value =  "CSE225" >
    <option value =  "CSE226" >
    <option value =  "CSE229" >
    <option value =  "CSE231" >
    <option value =  "CSE232" >
    <option value =  "CSE233" >
    <option value =  "CSE234" >
    <option value =  "CSE235" >
    <option value =  "CSE237" >
    <option value =  "CSE240" >
    <option value =  "CSE241" >
    <option value =  "CSE242" >
    <option value =  "CSE243" >
    <option value =  "CSE244A" >
    <option value =  "CSE244B" >
    <option value =  "CSE245" >
    <option value =  "CSE246" >
    <option value =  "CSE247" >
    <option value =  "CSE248" >
    <option value =  "CSE249" >
    <option value =  "CSE250A" >
    <option value =  "CSE250B" >
    <option value =  "CSE250C" >
    <option value =  "CSE253" >
    <option value =  "CSE257" >
    <option value =  "CSE259" >
    <option value =  "CSE260" >
    <option value =  "CSE261" >
    <option value =  "CSE262" >
    <option value =  "CSE263" >
    <option value =  "CSE264" >
    <option value =  "CSE265" >
    <option value =  "CSE266A" >
    <option value =  "CSE266B" >
    <option value =  "CSE266C" >
    <option value =  "CSE272" >
    <option value =  "CSE276" >
    <option value =  "CSE277" >
    <option value =  "CSE279" >
    <option value =  "CSE285" >
    <option value =  "CSE290A" >
    <option value =  "CSE290C" >
    <option value =  "CSE290D" >
    <option value =  "CSE290E" >
    <option value =  "CSE290F" >
    <option value =  "CSE290G" >
    <option value =  "CSE290H" >
    <option value =  "CSE290J" >
    <option value =  "CSE290K" >
    <option value =  "CSE290L" >
    <option value =  "CSE290M" >
    <option value =  "CSE290N" >
    <option value =  "CSE290O" >
    <option value =  "CSE290P" >
    <option value =  "CSE290Q" >
    <option value =  "CSE290S" >
    <option value =  "CSE290T" >
    <option value =  "CSE290X" >
    <option value =  "CSE290Y" >
    <option value =  "CSE293" >
</datalist>
</div>

</body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<script language="javascript" type="text/javascript">

  document.getElementById("name").addEventListener("click", search);
  function search(){

  
    $("#name").bind('input', function () {
        if (checkExists($('#name').val()) === true) {
            var url = "";
            var text = $('#name').val();
            switch (text) {
              case "CSE3" :
        url =  '/proj/resources/cse3'
        break;
          case "CSE5J" :
                  url =  '/proj/resources/cse5j'
                  break;
          case "CSE12" :
                  url =  '/proj/resources/cse12'
                  break;
          case "CSE13E" :
                  url =  '/proj/resources/cse13e'
                  break;
          case "CSE13S" :
                  url =  '/proj/resources/cse13s'
                  break;
          case "CSE15" :
                  url =  '/proj/resources/cse15'
                  break;
          case "CSE16" :
                  url =  '/proj/resources/cse16'
                  break;
          case "CSE20" :
                  url =  '/proj/resources/cse20'
                  break;
          case "CSE30" :
                  url =  '/proj/resources/cse30'
                  break;
          case "CSE40" :
                  url =  '/proj/resources/cse40'
                  break;
          case "CSE50" :
                  url =  '/proj/resources/cse50'
                  break;
          case "CSE58" :
                  url =  '/proj/resources/cse58'
                  break;
          case "CSE80A" :
                  url =  '/proj/resources/cse80a'
                  break;
          case "CSE80C" :
                  url =  '/proj/resources/cse80c'
                  break;
          case "CSE80N" :
                  url =  '/proj/resources/cse80n'
                  break;
          case "CSE80S" :
                  url =  '/proj/resources/cse80s'
                  break;
          case "CSE100" :
                  url =  '/proj/resources/cse100'
                  break;
          case "CSE101" :
                  url =  '/proj/resources/cse101'
                  break;
          case "CSE102" :
                  url =  '/proj/resources/cse102'
                  break;
          case "CSE103" :
                  url =  '/proj/resources/cse103'
                  break;
          case "CSE104" :
                  url =  '/proj/resources/cse104'
                  break;
          case "CSE106" :
                  url =  '/proj/resources/cse106'
                  break;
          case "CSE107" :
                  url =  '/proj/resources/cse107'
                  break;
          case "CSE108" :
                  url =  '/proj/resources/cse108'
                  break;
          case "CSE110A" :
                  url =  '/proj/resources/cse110a'
                  break;
          case "CSE110B" :
                  url =  '/proj/resources/cse110b'
                  break;
          case "CSE111" :
                  url =  '/proj/resources/cse111'
                  break;
          case "CSE112" :
                  url =  '/proj/resources/cse112'
                  break;
          case "CSE113" :
                  url =  '/proj/resources/cse113'
                  break;
          case "CSE115A" :
                  url =  '/proj/resources/cse115a'
                  break;
          case "CSE115B" :
                  url =  '/proj/resources/cse115b'
                  break;
          case "CSE115C" :
                  url =  '/proj/resources/cse115c'
                  break;
          case "CSE115D" :
                  url =  '/proj/resources/cse115d'
                  break;
          case "CSE117" :
                  url =  '/proj/resources/cse117'
                  break;
          case "CSE118" :
                  url =  '/proj/resources/cse118'
                  break;
          case "CSE119" :
                  url =  '/proj/resources/cse119'
                  break;
          case "CSE120" :
                  url =  '/proj/resources/cse120'
                  break;
          case "CSE121" :
                  url =  '/proj/resources/cse121'
                  break;
          case "CSE122" :
                  url =  '/proj/resources/cse122'
                  break;
          case "CSE123A" :
                  url =  '/proj/resources/cse123a'
                  break;
          case "CSE123B" :
                  url =  '/proj/resources/cse123b'
                  break;
          case "CSE125" :
                  url =  '/proj/resources/cse125'
                  break;
          case "CSE129A" :
                  url =  '/proj/resources/cse129a'
                  break;
          case "CSE129B" :
                  url =  '/proj/resources/cse129b'
                  break;
          case "CSE129C" :
                  url =  '/proj/resources/cse129c'
                  break;
          case "CSE130" :
                  url =  '/proj/resources/cse130'
                  break;
          case "CSE132" :
                  url =  '/proj/resources/cse132'
                  break;
          case "CSE134" :
                  url =  '/proj/resources/cse134'
                  break;
          case "CSE138" :
                  url =  '/proj/resources/cse138'
                  break;
          case "CSE140" :
                  url =  '/proj/resources/cse140'
                  break;
          case "CSE142" :
                  url =  '/proj/resources/cse142'
                  break;
          case "CSE143" :
                  url =  '/proj/resources/cse143'
                  break;
          case "CSE144" :
                  url =  '/proj/resources/cse144'
                  break;
          case "CSE145" :
                  url =  '/proj/resources/cse145'
                  break;
          case "CSE146" :
                  url =  '/proj/resources/cse146'
                  break;
          case "CSE150" :
                  url =  '/proj/resources/cse150'
                  break;
          case "CSE151" :
                  url =  '/proj/resources/cse151'
                  break;
          case "CSE152" :
                  url =  '/proj/resources/cse152'
                  break;
          case "CSE156" :
                  url =  '/proj/resources/cse156'
                  break;
          case "CSE157" :
                  url =  '/proj/resources/cse157'
                  break;
          case "CSE160" :
                  url =  '/proj/resources/cse160'
                  break;
          case "CSE161" :
                  url =  '/proj/resources/cse161'
                  break;
          case "CSE162" :
                  url =  '/proj/resources/cse162'
                  break;
          case "CSE163" :
                  url =  '/proj/resources/cse163'
                  break;
          case "CSE165" :
                  url =  '/proj/resources/cse165'
                  break;
          case "CSE166A" :
                  url =  '/proj/resources/cse166a'
                  break;
          case "CSE166B" :
                  url =  '/proj/resources/cse166b'
                  break;
          case "CSE167" :
                  url =  '/proj/resources/cse167'
                  break;
          case "CSE168" :
                  url =  '/proj/resources/cse168'
                  break;
          case "CSE170" :
                  url =  '/proj/resources/cse170'
                  break;
          case "CSE171A" :
                  url =  '/proj/resources/cse171a'
                  break;
          case "CSE173" :
                  url =  '/proj/resources/cse173'
                  break;
          case "CSE174" :
                  url =  '/proj/resources/cse174'
                  break;
          case "CSE175" :
                  url =  '/proj/resources/cse175'
                  break;
          case "CSE180" :
                  url =  '/proj/resources/cse180'
                  break;
          case "CSE181" :
                  url =  '/proj/resources/cse181'
                  break;
          case "CSE182" :
                  url =  '/proj/resources/cse182'
                  break;
          case "CSE183" :
                  url =  '/proj/resources/cse183'
                  break;
          case "CSE184" :
                  url =  '/proj/resources/cse184'
                  break;
          case "CSE185E" :
                  url =  '/proj/resources/cse185e'
                  break;
          case "CSE185S" :
                  url =  '/proj/resources/cse185s'
                  break;
          case "CSE191" :
                  url =  '/proj/resources/cse191'
                  break;
          case "CSE200" :
                  url =  '/proj/resources/cse200'
                  break;
          case "CSE201" :
                  url =  '/proj/resources/cse201'
                  break;
          case "CSE202" :
                  url =  '/proj/resources/cse202'
                  break;
          case "CSE204" :
                  url =  '/proj/resources/cse204'
                  break;
          case "CSE205" :
                  url =  '/proj/resources/cse205'
                  break;
          case "CSE207" :
                  url =  '/proj/resources/cse207'
                  break;
          case "CSE208" :
                  url =  '/proj/resources/cse208'
                  break;
          case "CSE209" :
                  url =  '/proj/resources/cse209'
                  break;
          case "CSE210A" :
                  url =  '/proj/resources/cse210a'
                  break;
          case "CSE210B" :
                  url =  '/proj/resources/cse210b'
                  break;
          case "CSE211" :
                  url =  '/proj/resources/cse211'
                  break;
          case "CSE212A" :
                  url =  '/proj/resources/cse212a'
                  break;
          case "CSE212B" :
                  url =  '/proj/resources/cse212b'
                  break;
          case "CSE214" :
                  url =  '/proj/resources/cse214'
                  break;
          case "CSE215" :
                  url =  '/proj/resources/cse215'
                  break;
          case "CSE216" :
                  url =  '/proj/resources/cse216'
                  break;
          case "CSE220" :
                  url =  '/proj/resources/cse220'
                  break;
          case "CSE221" :
                  url =  '/proj/resources/cse221'
                  break;
          case "CSE222A" :
                  url =  '/proj/resources/cse222a'
                  break;
          case "CSE222B" :
                  url =  '/proj/resources/cse222b'
                  break;
          case "CSE225" :
                  url =  '/proj/resources/cse225'
                  break;
          case "CSE226" :
                  url =  '/proj/resources/cse226'
                  break;
          case "CSE229" :
                  url =  '/proj/resources/cse229'
                  break;
          case "CSE231" :
                  url =  '/proj/resources/cse231'
                  break;
          case "CSE232" :
                  url =  '/proj/resources/cse232'
                  break;
          case "CSE233" :
                  url =  '/proj/resources/cse233'
                  break;
          case "CSE234" :
                  url =  '/proj/resources/cse234'
                  break;
          case "CSE235" :
                  url =  '/proj/resources/cse235'
                  break;
          case "CSE237" :
                  url =  '/proj/resources/cse237'
                  break;
          case "CSE240" :
                  url =  '/proj/resources/cse240'
                  break;
          case "CSE241" :
                  url =  '/proj/resources/cse241'
                  break;
          case "CSE242" :
                  url =  '/proj/resources/cse242'
                  break;
          case "CSE243" :
                  url =  '/proj/resources/cse243'
                  break;
          case "CSE244A" :
                  url =  '/proj/resources/cse244a'
                  break;
          case "CSE244B" :
                  url =  '/proj/resources/cse244b'
                  break;
          case "CSE245" :
                  url =  '/proj/resources/cse245'
                  break;
          case "CSE246" :
                  url =  '/proj/resources/cse246'
                  break;
          case "CSE247" :
                  url =  '/proj/resources/cse247'
                  break;
          case "CSE248" :
                  url =  '/proj/resources/cse248'
                  break;
          case "CSE249" :
                  url =  '/proj/resources/cse249'
                  break;
          case "CSE250A" :
                  url =  '/proj/resources/cse250a'
                  break;
          case "CSE250B" :
                  url =  '/proj/resources/cse250b'
                  break;
          case "CSE250C" :
                  url =  '/proj/resources/cse250c'
                  break;
          case "CSE253" :
                  url =  '/proj/resources/cse253'
                  break;
          case "CSE257" :
                  url =  '/proj/resources/cse257'
                  break;
          case "CSE259" :
                  url =  '/proj/resources/cse259'
                  break;
          case "CSE260" :
                  url =  '/proj/resources/cse260'
                  break;
          case "CSE261" :
                  url =  '/proj/resources/cse261'
                  break;
          case "CSE262" :
                  url =  '/proj/resources/cse262'
                  break;
          case "CSE263" :
                  url =  '/proj/resources/cse263'
                  break;
          case "CSE264" :
                  url =  '/proj/resources/cse264'
                  break;
          case "CSE265" :
                  url =  '/proj/resources/cse265'
                  break;
          case "CSE266A" :
                  url =  '/proj/resources/cse266a'
                  break;
          case "CSE266B" :
                  url =  '/proj/resources/cse266b'
                  break;
          case "CSE266C" :
                  url =  '/proj/resources/cse266c'
                  break;
          case "CSE272" :
                  url =  '/proj/resources/cse272'
                  break;
          case "CSE276" :
                  url =  '/proj/resources/cse276'
                  break;
          case "CSE277" :
                  url =  '/proj/resources/cse277'
                  break;
          case "CSE279" :
                  url =  '/proj/resources/cse279'
                  break;
          case "CSE285" :
                  url =  '/proj/resources/cse285'
                  break;
          case "CSE290A" :
                  url =  '/proj/resources/cse290a'
                  break;
          case "CSE290C" :
                  url =  '/proj/resources/cse290c'
                  break;
          case "CSE290D" :
                  url =  '/proj/resources/cse290d'
                  break;
          case "CSE290E" :
                  url =  '/proj/resources/cse290e'
                  break;
          case "CSE290F" :
                  url =  '/proj/resources/cse290f'
                  break;
          case "CSE290G" :
                  url =  '/proj/resources/cse290g'
                  break;
          case "CSE290H" :
                  url =  '/proj/resources/cse290h'
                  break;
          case "CSE290J" :
                  url =  '/proj/resources/cse290j'
                  break;
          case "CSE290K" :
                  url =  '/proj/resources/cse290k'
                  break;
          case "CSE290L" :
                  url =  '/proj/resources/cse290l'
                  break;
          case "CSE290M" :
                  url =  '/proj/resources/cse290m'
                  break;
          case "CSE290N" :
                  url =  '/proj/resources/cse290n'
                  break;
          case "CSE290O" :
                  url =  '/proj/resources/cse290o'
                  break;
          case "CSE290P" :
                  url =  '/proj/resources/cse290p'
                  break;
          case "CSE290Q" :
                  url =  '/proj/resources/cse290q'
                  break;
          case "CSE290S" :
                  url =  '/proj/resources/cse290s'
                  break;
          case "CSE290T" :
                  url =  '/proj/resources/cse290t'
                  break;
          case "CSE290X" :
                  url =  '/proj/resources/cse290x'
                  break;
          case "CSE290Y" :
                  url =  '/proj/resources/cse290y'
                  break;
          case "CSE293" :
                  url =  '/proj/resources/cse293'
                  break;
                default:
                    url = '@Url.Action("Index")';
            }
           
             window.location.href = url;
        }
    });
  }
    function checkExists(inputValue) {
        console.log(inputValue);

        var x = document.getElementById("browsers");
        var i;
        var flag;
        for (i = 0; i < x.options.length; i++) {
            if (inputValue == x.options[i].value) {
                flag = true;
            }
        }
        return flag;
    }
</script>

